table, td, th {
    border: 1px solid rgb(221,221,221);
}

table {
    width: 100%;
}


tr:hover {
    background: rgb(0,0,0) !important;
    color: rgb(255,255,255) !important;
}

tr:nth-child(odd) {
    background: rgb(241,241,241);
}
