html {
    box-sizing: border-box;
}

body {
    background: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 850px;
    margin: 0 auto;
}

img {
    box-sizing: inherit;
    max-width: 70%;
}
