* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(238, 238, 238);
}

table {
    border-collapse: separate;
    text-align: left;
    width: 100%;
}

table thead {
    background-color: black;
    color: white;
}

table tr {
    border: 1px solid black;
}

table td {
    background-color: white;
}

tbody tr:nth-child(odd) td {
    background: rgb(241,241,241);
}

table th,
table td {
    padding: 5px;
}

table td span {
    display: none;
    font-weight: bold;
    padding-right: 1%;
}

@media screen and (min-width:0) and (max-width:499px) {
    table thead {
        display: none;
    }  

    table td {
        border: 1px solid grey;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    table td span {
        display: flex;
        flex-direction: row;
    }
}
