* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    background: rgb(238, 238, 238);
    height: 100vh;
    flex-direction: column;
}

header {
    border-bottom: 2px solid black;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
}

.logo {
    margin: 1% 3%;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

main {
    margin: 2% 3%;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
}

footer p {
    margin: 1% 3%;
}
